@model IEnumerable<Risk.Models.Customer>

@{
    ViewBag.Title = "Customers";
}

<h2>Customers</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CustomerId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WinRate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AverageBet)
        </th>
        <th>
            Flag
        </th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td style="@(item.WinRate > (decimal)0.6 ? "Background-color:red" : "")">
            @Html.DisplayFor(modelItem => item.CustomerId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WinRate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AverageBet)
        </td>
        <td>
            @if (item.WinRate > (decimal)0.6)
            {
                <p>Customer is winning at an unusual rate</p>
            }
        </td>
    </tr>
}

</table>
