@model IEnumerable<Risk.Models.Bet>

@{
    ViewBag.Title = "Unsettled Bets";
}

<h2>Unsettled Bets</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CustomerId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EventId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ParticipantId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Stake)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Win)
        </th>
        <th>
            Flag
        </th>
        <th></th>
    </tr>

@foreach (var item in Model)
{
    <tr >
        <td style="@(item.Customer.WinRate > (decimal)0.6 ? "Background-color:red" : "")">
            @Html.DisplayFor(modelItem => item.CustomerId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EventId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ParticipantId)
        </td>
        <td style="@(item.Stake > 1000 ? "Background-color:green" : "")">
            @Html.DisplayFor(modelItem => item.Stake)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Win)
        </td>
        <td>
            @if (item.Customer.WinRate > (decimal)0.6)
            {
                <p>Customer is winning at an unusual rate</p>
            }
            @if ((item.Customer.AverageBet * 10) < item.Stake)
            {
                <p>Unusual Bet</p>
            }
            @if ((item.Customer.AverageBet * 30) < item.Stake)
            {
                <p>Highly Unusual Bet</p>
            }
        </td>

       
    </tr>
}

</table>
